<nz-tabset>
  <nz-tab nzTitle="密码登录">
    <form nz-form [formGroup]="pwdLoginForm" (ngSubmit)="passwordLogin()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="invalidPhoneNumberOrEmail">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="identity" placeholder="请输入手机号/邮箱"/>
          </nz-input-group>
          <ng-template #invalidPhoneNumberOrEmail let-control>
            <ng-container *ngIf="control.hasError('required')">请输入手机号/邮箱</ng-container>
            <ng-container *ngIf="control.hasError('invalid')">非法的手机号/邮箱</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入密码">
          <nz-input-group nzPrefixIcon="key" [nzSuffix]="suffixTemplate">
            <input
              formControlName="password"
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="请输入登录密码"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" (click)="passwordVisible = !passwordVisible">
            </i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <button type="submit" nz-button nzType="primary" class="submit-btn" [nzLoading]="isLogin">登录</button>
      <a (click)="forgetPassword()">忘记密码</a>
      <a style="float: right" (click)="register()">立即注册</a>
    </form>
  </nz-tab>

  <nz-tab nzTitle="短信验证码">
    <phone-code-form scene="login" (onSubmit)="phoneCodeLogin($event)" [footer]="footerTpl"></phone-code-form>
    <ng-template #footerTpl>
      <button type="submit" class="submit-btn" nz-button nzType="primary" [nzLoading]="isLogin">登录</button>
      <a style="float: right" (click)="register()">立即注册</a>
    </ng-template>
  </nz-tab>
</nz-tabset>
