<section class="body">
  <div class="content">
    <div class="switch-wrap">
      <!--search bar-->
      <div *ngIf="switchIndexVersion === 'v2', then v2Search else v1Search"></div>
      <!--v1 search bar-->
      <ng-template #v1Search>
        <div nz-row nzGutter="16" nzAlign="middle" nzJustify="start">
          <div nz-col nzFlex="0 1 250px">
            <input nz-input placeholder="按名字查找" [(ngModel)]="nameSearchValue" (ngModelChange)="onSearchByName()"/>
          </div>
          <div nz-col nzFlex="0 1 250px">
            <nz-select style="width: 80%;" [(ngModel)]="showType" (ngModelChange)="onSearchByOnOff($event)">
              <nz-option nzValue="" nzLabel="展示所有开关"></nz-option>
              <nz-option nzValue="Enabled" nzLabel="展示 Enabled 的开关"></nz-option>
              <nz-option nzValue="Disabled" nzLabel="展示 Disabled 的开关"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzFlex="end" style="margin-left: auto">
            <button nz-button nzType="primary" (click)="addSwitch()">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              添加开关
            </button>
          </div>
        </div>
      </ng-template>
      <!--v2 search bar-->
      <ng-template #v2Search>
        <div nz-row nzGutter="16" nzAlign="middle" nzJustify="start">
          <div nz-col nzFlex="0 1 250px">
            <switch-tag-tree-select></switch-tag-tree-select>
          </div>
          <div nz-col nzFlex="0 1 250px">
            <input nz-input placeholder="按名字查找" [(ngModel)]="nameSearchValue" (ngModelChange)="onSearchByName()"/>
          </div>
          <div nz-col nzFlex="0 1 250px">
            <nz-select style="width: 80%;" [(ngModel)]="showType" (ngModelChange)="onSearchByOnOff($event)">
              <nz-option nzValue="" nzLabel="展示所有开关"></nz-option>
              <nz-option nzValue="Enabled" nzLabel="展示 Enabled 的开关"></nz-option>
              <nz-option nzValue="Disabled" nzLabel="展示 Disabled 的开关"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzFlex="end" style="margin-left: auto">
            <button nz-button nzType="primary" (click)="addSwitch()">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              添加开关
            </button>
            <button style="margin-left: 9px" nz-button nzType="primary" (click)="tagTreeModalVisible = true">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              标签树管理
            </button>
          </div>
        </div>
      </ng-template>

      <!--switch table-->
      <div class="switch-list">
        <div *ngIf="switchIndexVersion === 'v2', then v2switchTable else v1switchTable"></div>
        <!--v1 switch table-->
        <ng-template #v1switchTable>
          <nz-table #table nzSize="small"
                    [nzScroll]="{ y: '520px' }"
                    [nzData]="switchListsShowData"
                    [nzLoading]="isLoading"
                    [nzFrontPagination]="false"
                    [nzTotal]="totalCount"
                    [nzPageSize]="pageSize"
                    [nzPageIndex]="pageIndex + 1"
                    (nzPageIndexChange)="onChangePageIndex($event)">
            <thead>
            <tr class="table-th-style">
              <th>名称</th>
              <th>状态</th>
              <th>最近修改</th>
              <th nzAlign="center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let theSwitch of table.data">
              <td style="cursor: pointer;" (click)="onIntoSwitchDetail(theSwitch)">{{theSwitch.name}}</td>
              <td>
                <nz-switch [ngModel]="theSwitch.status === 'Enabled'" (click)="onChangeSwitchStatus(theSwitch)"
                           nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
              </td>
              <td>{{getLocalDate(theSwitch.lastUpdatedTime) | date: 'YYYY-MM-dd HH:mm:ss'}}</td>
              <td style="text-align: center">
                <a nz-button nzType="link" style="color: #9A95CC;" (click)="onIntoSwitchDetail(theSwitch)">详情</a>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </ng-template>
        <!--v2 switch table-->
        <ng-template #v2switchTable>
          <nz-table #table nzSize="small"
                    [nzScroll]="{ y: '520px' }"
                    [nzData]="switchListsShowData"
                    [nzLoading]="isLoading"
                    [nzFrontPagination]="false"
                    [nzTotal]="totalCount"
                    [nzPageSize]="pageSize"
                    [nzPageIndex]="pageIndex + 1"
                    (nzPageIndexChange)="onChangePageIndex($event)">
            <thead>
            <tr class="table-th-style">
              <th>名称</th>
              <th>状态</th>
              <th>标签</th>
              <th>最近修改</th>
              <th nzAlign="center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let theSwitch of table.data">
              <td style="cursor: pointer;" (click)="onIntoSwitchDetail(theSwitch)">{{theSwitch.name}}</td>
              <td>
                <nz-switch [ngModel]="theSwitch.status === 'Enabled'" (click)="onChangeSwitchStatus(theSwitch)"
                           nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
              </td>
              <td>{{ theSwitch.tags }}</td>
              <td>{{getLocalDate(theSwitch.lastUpdatedTime) | date: 'YYYY-MM-dd HH:mm:ss'}}</td>
              <td style="text-align: center">
                <a nz-button nzType="link" style="color: #9A95CC;" (click)="onIntoSwitchDetail(theSwitch)">详情</a>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </ng-template>
      </div>
    </div>
  </div>
</section>

<nz-modal [(nzVisible)]="createModalVisible"
          [nzWidth]="700"
          [nzBodyStyle]="{minHeight: '90px'}"
          [nzCentered]="true"
          nzTitle="新建开关"
          nzMaskClosable="false"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <nz-form-item>
      <nz-form-label>开关名称</nz-form-label>
      <input nz-input placeholder="开关名称" [(ngModel)]="switchName"/>
    </nz-form-item>
    <br/>
    <nz-form-item>
      <nz-form-label>开关类型</nz-form-label>
      <nz-select style="width:100%;" nzPlaceHolder="选择开关类型" [(ngModel)]="switchType">
        <nz-option [nzValue]="ClassicFeatureFlag" nzLabel="传统开关 - 可以用于对终端用户进行条件分流"></nz-option>
      </nz-select>
    </nz-form-item>
  </ng-container>
</nz-modal>

<nz-modal
  nzAutofocus="cancel"
  [(nzVisible)]="tagTreeModalVisible"
  (nzOnCancel)="tagTreeModalVisible = false"
  [nzCentered]="true"
  [nzBodyStyle]="{minHeight: '400px'}"
  nzWidth="850px"
  nzTitle="标签树管理"
  nzMaskClosable="false">
  <ng-container *nzModalContent>
    <switch-tag-tree-view></switch-tag-tree-view>
  </ng-container>
</nz-modal>
