<section class="body">
  <div class="content">
    <div nz-row class="header">
      <button nz-button nzType="primary" (click)="onRefreshPage()">
        <i nz-icon nzType="redo" nzTheme="outline"></i>刷新页面
      </button>
      <button nz-button nzType="primary" (click)="onOpenDataSoureModal()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>管理数据源
      </button>
      <button nz-button nzType="primary" (click)="onCreateCard()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>新建报表
      </button>
    </div>
    
    <nz-list nzGrid class="data-grid">
      <div nz-row [nzGutter]="24">
        <!-- 报表 -->
        <div nz-col [nzSpan]="12" *ngFor="let data of listData">
          <nz-list-item>
            <nz-card [class]="{'editing': data.isEditing}" [nzLoading]="data.isLoading" [nzActions]="[actionEdit, actionDelete]">
              <div class="data-title">
                <ng-container *ngIf="!data.isEditing">
                  {{data.name}}
                </ng-container>
                <ng-container *ngIf="data.isEditing">
                  <input style="font-size: 15px;min-width:250px" nz-input placeholder="看板名称" [(ngModel)]="data.name" />
                </ng-container>
              </div>
              <div class="date-range">
                <ng-container *ngIf="!data.isEditing">
                  {{data.startTime | ffcDate}} 至 {{data.endTime | ffcDate}}
                </ng-container>
                <ng-container *ngIf="data.isEditing">
                  <div style="margin-top:5px">
                    <nz-date-picker
                      [nzRenderExtraFooter]="footerStartDate"
                      [nzShowToday]="false"
                      [nzAllowClear]="false"
                      [nzDisabledDate]="data.disabledStartDate"
                      nzFormat="yyyy-MM-dd"
                      [(ngModel)]="data.startTime"
                      nzPlaceHolder="开始日期"
                    ></nz-date-picker>
                    至  
                    <nz-date-picker
                      [nzRenderExtraFooter]="footerEndDate"
                      [nzShowToday]="false"
                      [nzAllowClear]="false"
                      [nzDisabledDate]="data.disabledEndDate"
                      nzFormat="yyyy-MM-dd"
                      [(ngModel)]="data.endTime"
                      nzPlaceHolder="结束日期"
                    ></nz-date-picker>
                  </div>
                  <ng-template #footerStartDate>
                    <div style="text-align:center"><a (click)="data.clearStartDate()">清空（设为永远）</a></div>
                  </ng-template>
                  <ng-template #footerEndDate>
                    <div style="text-align:center"><a (click)="data.clearEndDate()">清空（设为永远）</a></div>
                  </ng-template>
                </ng-container>
              </div>
              <nz-list nzGrid class="item-grid">
                <div nz-row [nzGutter]="16">
                  <!-- 每一个数据源 -->
                  <div nz-col [nzSpan]="8" *ngFor="let item of data.items">
                    <nz-list-item>
                      <nz-card>
                        <div style="text-align:right;margin-top:-8px;margin-right:-7px" *ngIf="data.isEditing">
                          <a nz-popconfirm 
                              nzPopconfirmTitle="确定删除吗?" 
                              nzPopconfirmPlacement="bottom"
                              [nzPopconfirmOverlayStyle]="{minWidth: '230px'}"
                              (nzOnConfirm)="removeDataItem(data, item)" 
                              [nzIcon]="iconTpl">
                              <i nz-icon nzType="close" nzTheme="outline"></i>
                          </a>
                        </div>
                        <nz-statistic  [nzValueTemplate]="valueTpl"
                                      [nzTitle]="titleTpl"
                                      [nzSuffix]="suffixTpl"
                                      [nzValueStyle]="{ color: item.color }"></nz-statistic>
                      </nz-card>
                      <ng-template #suffixTpl>
                        <ng-container *ngIf="!data.isEditing">
                          {{item.unit}}
                        </ng-container>
                      </ng-template>
                      <ng-template #titleTpl>
                        <ng-container *ngIf="!data.isEditing">
                          {{item.name}}
                        </ng-container>
                        <ng-container *ngIf="data.isEditing">
                          <input style="font-size: 11px" nz-input placeholder="数据名称" [(ngModel)]="item.name" />
                        </ng-container>
                      </ng-template>
                      <ng-template #valueTpl>
                        <!-- 计算数据显示 -->
                        <ng-container *ngIf="!data.isEditing">
                          <ng-container *ngIf="!item.isLoading; else valueLoadingTem">
                            {{item.value}}
                          </ng-container>
                          <ng-template #valueLoadingTem>
                            <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
                          </ng-template>
                        </ng-container>
                        <div *ngIf="data.isEditing" (click)="onSetDataSource(data, item)" class="operator-btn">点击设置数据源</div>
                      </ng-template>
                    </nz-list-item>
                  </div>
                  <div nz-col [nzSpan]="8" *ngIf="data.isEditing && data.itemsCount !== 6">
                    <nz-list-item>
                      <nz-card>
                        <nz-statistic  [nzValueTemplate]="addItemTpl"></nz-statistic>
                      </nz-card>
                      <ng-template #addItemTpl>
                        <div (click)="onAddItem(data)" class="operator-btn">
                          <i nz-icon nzType="plus" nzTheme="outline"></i>点击添加
                        </div>
                      </ng-template>
                    </nz-list-item>
                  </div>
                </div>
              </nz-list>
            </nz-card>
            
            <ng-template #actionDelete>
              <a nz-popconfirm
                nzPopconfirmTitle="确定删除吗?" 
                nzPopconfirmPlacement="bottom"
                [nzPopconfirmOverlayStyle]="{minWidth: '230px'}"
                (nzOnConfirm)="removeCard(data)" 
                [nzIcon]="iconTpl">
                <i style="color: #9A95CC;" nz-icon nzType="delete" nzTheme="fill"></i>
              </a>
            </ng-template>
            <ng-template #actionEdit>
              <a style="color: #9A95CC;"
                  nz-popconfirm
                  [nzPopconfirmTitle]="'没有填写名称和选择数据源的选项将被去除，确认保存吗？'"
                  [nzPopconfirmTrigger]="null"
                  [(nzPopconfirmVisible)]="isSureSave"
                  (nzOnConfirm)="onSureToSave()"
                  (click)="toggleEditingCard(data)">
                <i nz-icon [nzType]="data.isEditing ? 'save' : 'edit'" nzTheme="outline"></i>
              </a>
            </ng-template>
          </nz-list-item>
        </div>
      </div>
    </nz-list>
  </div>
</section>
<ng-template #iconTpl>
  <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
</ng-template>


<nz-modal nzClassName="data-source" [nzMaskClosable]="false" [(nzVisible)]="dataSourceModalVisible" (nzOnCancel)="dataSourceModalVisible=false">
  <ng-container *nzModalContent>
    <app-new-report [dataSourceList]="dataSourceList" 
                    [currentDataSource]="currentDataItem" 
                    [currentCard]="currentDataCard" 
                    #newReport></app-new-report>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="dataSourceModalVisible=false">取消</button>
    <button nz-button nzType="primary" (click)="onApplyDataSource()" >完成</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="dataSourcesManageModalVisible" nzTitle="数据源管理" (nzOnCancel)="onCloseAddDataSoureModal()">
  <ng-container *nzModalContent>
    <data-sources [(boardType)]="dataSourceBoardType"
                  [currentDataSource]="currentDataSource"
                  [dataSourceList]="dataSourceList"
                  (deleteDataSource)="onDeleteDataSource($event)"
                  (edit)="dataSourceOperatorType='edit'"
                  #dataSources></data-sources>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="onOperatorCancel()">
      {{ dataSourceBoardType === 'table' ? "关闭" : "返回" }}
    </button>
    <button nz-button nzType="primary" (click)="onOperatorDataSource()">
      {{ dataSourceBoardType === 'table' ? "新数据源" : "保存" }}
    </button>
  </div>
</nz-modal>