section.body {
  width: 100%;
  height: 100%;
  padding: 20px 40px 0 20px;

  .content {
    height: 100%;

    .header {
      justify-content: right;
      margin-bottom: 20px;

      button:not(:last-of-type) {
        margin-right: 10px;
      }
    }

    .data-grid {
      height: 100%;
      overflow: auto;
      padding-bottom: 50px;

      .data-title {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
      }

      .options-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;

        .option-text {
          text-align: center;
          color: #bdbdbd;
        }

        nz-select {
          width: 250px;
        }
      }

      .item-grid {
        margin: 15px 0 0 0;

        nz-statistic {
          text-align: center;
        }

        .operator-btn {
          border: 1px solid #4CB287;
          border-radius: 5px;
          padding: 12px 15px;
          font-size: 18px;
          cursor: pointer;
          color: #4CB287;
          margin-top:5px
        }

        .setup-datasource {
          background-color: #4CB287;
          color: white;
        }
      }
    }

    ::ng-deep {
      .editing .ant-statistic-title {
        color: rgba(0, 0, 0, 0.85);
      }
      .ant-card-body {
        padding: 10px;
      }
      .ant-card-actions > li {
        margin: 0;
      }
      nz-select {
        width: 100%;
      }
    }
  }
}

input:focus::placeholder {
  color: transparent;
}

.modal-table {
  width: 100%;
  height: 100%;
  overflow: hidden;

  th {
    background-color: #DDDCEB;
  }

  td {
    button:first-of-type {
      margin-right: 5px;
    }
  }
}
