<div class="sdk-integration">
  <nz-result [nzIcon]="'rocket-twotone'">
    <div nz-result-extra>
      <div class="instruction">请前往 <a target="_blank" class="github-repo" href="https://github.com/feature-flags-co/ffc-react-client-sdk"><i nz-icon nzType="github" nzTheme="outline"></i> GitHub 仓库</a>查看 React SDK</div>
      <div class="instruction">您也可以将我们的 <a target="_blank" class="github-repo" href="https://github.com/feature-flags-co/ffc-react-client-sdk-demo"><i nz-icon nzType="github" nzTheme="outline"></i> Demo 仓库</a>克隆到本地进行测试。</div>
    </div>
  </nz-result>
</div>
