<section class="body">
  <app-layout>
      <app-nav-btns name="header" [routeUrl]="'zero-code-settings'" [id]="featureFlagId"></app-nav-btns>
      <ng-container *ngTemplateOutlet="zeroCodeTemplate" name="detail"></ng-container>
  </app-layout>
</section>

<ng-template #zeroCodeTemplate>
  <ng-template #loadingTem>
    <div class="spin">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </ng-template>
  <ng-container *ngIf="!isLoading; else loadingTem;">
    <div class="detail-body" name="detail" *ngIf="featureFlagId">
      <div class="info-item">
        <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;margin-bottom: 25px;">
          <div class="label" style="margin: 0">零代码网站APP开关设置</div>
          <div class="wrap-right">
            <nz-space>
              <button *nzSpaceItem nz-button nzType="primary" (click)="onAddCssSelectorRow()">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                添加
              </button>
              <button *nzSpaceItem class="submit" [nzLoading]="isSaving" nz-button nzType="primary" (click)="doSubmit()">
                <i nz-icon nzType="save" nzTheme="outline"></i>
                保存
              </button>
            </nz-space>
          </div>
        </div>

        <nz-card class="experiment" *ngFor="let item of model.items" style="margin-top: 20px;">
          <div class="info-item">
            <div class="label">URL</div>
            <input class="name" nz-input placeholder="页面 URL" [(ngModel)]="item.url" />
          </div>
          <div class="info-item">
            <div class="label">CSS Selector</div>
            <input class="name" nz-input placeholder="CSS Selector" [(ngModel)]="item.cssSelector" />
          </div>
          <div class="info-item">
            <div class="label">开关特性</div>
            <nz-select nzPlaceHolder="选择特性" [compareWith]="compareWith" [(ngModel)]="item.variationOption" style="width: 100%">
              <nz-option *ngFor="let o of currentVariationOptions" [nzValue]="o" [nzLabel]="o.variationValue"></nz-option>
            </nz-select>
          </div>
          <div class="info-item">
            <div class="label">操作</div>
            <nz-select nzPlaceHolder="选择操作类型" [(ngModel)]="item.action" (ngModelChange)="itemActionChanged(item)" style="width: 100%">
              <nz-option *ngFor="let o of actionOptions" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
            </nz-select>
          </div>
          <ng-container *ngIf="item.action === 'modify'">
            <nz-divider style="margin: 26px 0"></nz-divider>
            <div class="info-item">
              <div class="label">元素属性 <a (click)="addHtmlProperty(item)" style="margin-left:20px;font-weight: 800;font-size: 16px;"><i nz-icon nzType="plus-square" nzTheme="outline"></i></a></div>
              <div style="display: flex;justify-content: space-between;margin-bottom:5px" *ngFor="let pro of item.htmlProperties">
                <input type="text" placeholder="属性名，例如 href" style="width:20%" nz-input [(ngModel)]="pro.name" />
                <input type="text" placeholder="属性值" style="width:79%" nz-input [(ngModel)]="pro.value" />
                <a (click)="removeHtmlProperty(item, pro.id)" style="margin-top: 5px;margin-left: 15px"><i nz-icon nzType="delete" nzTheme="fill"></i></a>
              </div>
            </div>
            <div class="info-item">
              <div class="label">元素内容</div>
              <textarea class="ffc-input" rows="2" nz-input [(ngModel)]="item.htmlContent"></textarea>
            </div>
            <div class="info-item">
              <div class="label">CSS 样式 (请将 CSS 样式填入编辑器中的大括号中)</div>
              <nz-code-editor class="editor" [(ngModel)]="item.style" [nzEditorOption]="{ language: 'css' }"></nz-code-editor>
            </div>
          </ng-container>
          <div class="info-item" style="text-align: right;margin-bottom: 0;">
            <button style="background-color: rgba(255, 0, 0, 0.5);color: #fff" nz-button nzType="default" (click)="deleteCssSelectorRow(item.id)">删除</button>
          </div>
        </nz-card>

        <!-- <nz-table [nzLoading]="isSaving" #editRowTable [nzFrontPagination]="false" [nzData]="model.items" [nzSize]="'small'" [nzShowPagination]="false">
          <thead>
            <tr class="table-th-style">
              <th>CSS Selector</th>
              <th>网页 URL</th>
              <th>描述</th>
              <th>显示内容时对应的开关状态</th>
              <th nzAlign="center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of model.items" cdkDrag class="editable-row">
              <td>
                <input type="text" style="width:100%" nz-input [(ngModel)]="data.cssSelector" />
              </td>
              <td>
                <input type="text" style="width:100%" nz-input [(ngModel)]="data.url" />
              </td>
              <td>
                <input type="text" style="width:100%" nz-input [(ngModel)]="data.description" />
              </td>
              <td>
                <nz-select nzPlaceHolder="选择特性" [compareWith]="compareWith" [(ngModel)]="data.variationOption" style="width: 100%">
                  <nz-option *ngFor="let o of currentVariationOptions" [nzValue]="o" [nzLabel]="o.variationValue"></nz-option>
                </nz-select>
              </td>
              <td [nzAlign]="'center'">
                <a nz-popconfirm nzPopconfirmTitle="确定删除吗? 删除后将不可恢复！" nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCssSelectorRow(data.id)"><i nz-icon style="color: #9A95CC" nzType="delete" nzTheme="fill"></i></a>
              </td>
            </tr>
          </tbody>
        </nz-table> -->
      </div>
    </div>
  </ng-container>
</ng-template>
