<section class="body">
  <app-layout>
      <app-nav-btns name="header" [routeUrl]="'experimentations'" [id]="featureFlagId"></app-nav-btns>
      <ng-container *ngTemplateOutlet="experimentsTemplate" name="detail"></ng-container>
  </app-layout>
</section>

<ng-template #experimentsTemplate>
  <ng-container>
    <div class="detail-body" name="detail" *ngIf="featureFlagId">
      <div *ngIf="experimentation==='V2'">
        <nz-spin [nzSpinning]="isLoadingResult" nzTip="数据加载中...">
          <nz-card class="experiment" *ngFor="let experiment of experimentList" style="margin-top: 20px;">
            <div class="head">
              <div class="first-line">
                <div class="title-area">
                  <div class="title">{{experiment.metric.name}}</div>
                  <nz-tag nzNoAnimation>
                    <ng-container *ngIf="experiment.metric.eventType === customEventType">
                      自定义事件: {{ experiment.metric.customEventTrackOption === customEventTrackConversion ? '转化率' : '数值' }}
                    </ng-container>
                  </nz-tag>
                </div>
                <div *ngIf="experiment.status === 3">
                  <span *ngIf="experiment?.selectedIteration?.updatedAtStr?.length > 0">结果最后更新于： {{updatedAtStr}}</span>
                  <button nz-button nzType="default" (click)="onReloadIterationResultsClick(experiment)" [nzLoading]="isLoadingTwo">
                    <i *ngIf="!experiment.isLoading" nz-icon nzType="reload" nzTheme="outline"></i>
                    <i *ngIf="experiment.isLoading" nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
                    点击刷新结果(每分钟会自动刷新)
                  </button>
                </div>
              </div>
              <div class="second-line" *ngIf="experiment.status !== 1">
                <button *ngIf="experiment.status === 2" nz-button nzType="default" (click)="onStartIterationClick(experiment)" [nzLoading]="isLoadingTwo">
                  <i class="status paused" nz-icon nzType="pause-circle" nzTheme="outline"></i>
                  实验已暂停，点击继续实验
                </button>
                <button *ngIf="experiment.status === 3" nz-button nzType="default" (click)="onStopIterationClick(experiment)" [nzLoading]="isLoadingTwo">
                  <i class="status on-going" nz-icon nzType="right-circle" nzTheme="outline"></i>
                  实验进行中，点击暂停实验
                </button>
                <div>
                  时间区间 &nbsp;
                  <nz-select name="iterations_{{experiment.id}}"
                      [(ngModel)]="experiment.selectedIteration"
                  >
                    <nz-option *ngFor="let iteration of experiment.iterations?.reverse()" [nzLabel]="iteration.dateTimeInterval" [nzValue]="iteration"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="third-line">
                <ul *ngIf="experiment.selectedIteration?.results?.length > 0">
                  <li *ngIf="experiment.hasInvalidVariation"><i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i> 相对于基准特性并不具有统计学上的优势</li>
                  <li *ngIf="experiment.hasWinnerVariation"><i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i> 该特性胜出</li>
                  <li *ngIf="!experiment.hasWinnerVariation"><i nz-icon nzType="info-circle" nzTheme="outline"></i> 需要更多的实验数据才能在统计学上确认表格中的结论</li>
                </ul>
              </div>
            </div>
            <div *ngIf="experiment.status === 1" class="empty-experiment">
              <button nz-button nzType="primary" (click)="onStartExperimentClick(experiment)" [nzLoading]="isLoadingTwo">
                <i class="status on-going" nz-icon nzType="right-circle" nzTheme="outline"></i>
                开始实验
              </button>
            </div>
            <nz-table *ngIf="experiment.status !== 1" #borderedTable nzBordered [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="experiment?.selectedIteration?.results" style="margin-top: 20px;">
              <thead>
                <tr>
                  <th>特性</th>
                  <th>转化数 / 用户数</th>
                  <th>转化率</th>
                  <th style="width: 210px">置信区间</th>
                  <th>变化</th>
                  <th>P-值</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of borderedTable.data">
                  <tr *ngIf="data.isEmpty" class="empty_variation">
                    <td>
                      <span nz-tooltip [nzTooltipTitle]="'暂时没有实验数据'" [nzTooltipColor]="'cyan'">
                        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                      </span>
                      &nbsp;{{ data.variationValue }}
                    </td>
                    <td> -- </td>
                    <td> -- </td>
                    <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell"> <div>基准特性</div> </td>
                    <td *ngIf="!data.isBaseline"> -- </td>
                    <td *ngIf="!data.isBaseline"> -- </td>
                    <td> -- </td>
                  </tr>
                  <tr *ngIf="!data.isEmpty" [class.winner]="data.isWinner" >
                    <td>
                      <span *ngIf="data.isWinner" nz-tooltip [nzTooltipTitle]="'该特性胜出'" [nzTooltipColor]="'cyan'">
                        <i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i>
                      </span>
                      <span *ngIf="data.isInvalid" nz-tooltip [nzTooltipTitle]="'相对于基准特性并不具有统计学上的优势'" [nzTooltipColor]="'cyan'">
                        <ng-container *ngIf="!data.isBaseline">
                          <i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i>
                        </ng-container>
                        <ng-container *ngIf="data.isBaseline">
                          <span class="icon_placeholder"></span>
                        </ng-container>
                      </span>
                      <span class="icon_placeholder" *ngIf="!data.isWinner && !data.isInvalid"></span>
                      &nbsp;{{ data.variationValue }}</td>
                    <td>{{ data.conversion }}/{{ data.uniqueUsers }}</td>
                    <td>{{ data.conversionRate | percentage }}</td>
                    <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell">
                      <div>基准特性</div>
                    </td>
                    <td *ngIf="!data.isBaseline">
                      <div  style="width: 200px;box-sizing: border-box;">
                        <div *ngIf="data.confidenceInterval[0] >= 0" class="BoxChart">
                          <div class="BoxChart-whisker"></div>
                          <div class="BoxChart-box--container">
                            <div class="BoxChart-box--line"></div>
                            <div class="BoxChart-box" [style.left.px]="data.confidenceInterval[0] * 200" [style.width.px]="(data.confidenceInterval[1] - data.confidenceInterval[0]) * 200">
                              <div class="BoxChart-box--median" [style.left.px]="(data.conversionRate - data.confidenceInterval[0]) * 200"></div>
                            </div>
                          </div>
                          <div class="BoxChart-whisker"></div>
                        </div>
                       </div>
                       <div *ngIf="data.confidenceInterval[0] >= 0" class="confidence_interval">{{data.confidenceInterval[0] | percentage}} - {{data.confidenceInterval[1] | percentage}}</div>
                       <div *ngIf="data.confidenceInterval[0] === '-'"class="confidence_interval"> -- </div>
                    </td>
                    <td *ngIf="!data.isBaseline">
                      {{ data.changeToBaseline | percentage }}
                    </td>
                    <td>
                      {{ data.pValue }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </nz-card>
        </nz-spin>
      </div>
      <div *ngIf="experimentation==='final version' || experimentation==='temporary version'">
        <nz-spin [nzSpinning]="isLoadingResult" nzTip="数据加载中...">
          <div nz-row>
            <span style="display:inline-block; margin-right: 10px;">事件名称</span>
            <nz-select name="event_list"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                nzPlaceHolder="请选择事件"
                [(ngModel)]="selectedEvent"
                (nzOnSearch)="onSearchEvents($event)"
                style="width: 25%">
                <ng-container *ngFor="let event of eventList">
                  <nz-option *ngIf="!isEventsLoading" [nzLabel]="event" [nzValue]="event"></nz-option>
                </ng-container>
                <nz-option *ngIf="isEventsLoading" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                </nz-option>
            </nz-select>
          </div>
          <div nz-row style="margin-top: 10px;">
            <span style="display:inline-block; margin-right: 10px;">基准特性</span>
            <nz-select name="baseline" nzPlaceHolder="请选择基准特性" [(ngModel)]="selectedBaseline" style="width: 25%">
              <nz-option *ngFor="let variation of currentVariationOptions" [nzLabel]="variation.variationValue" [nzValue]="variation"></nz-option>
            </nz-select>
          </div>
          <div nz-row style="margin-top: 10px;">
            <span style="display:inline-block; margin-right: 10px;">时间区间</span>
            <nz-range-picker name="date_range" [nzShowTime]="{ nzFormat: 'HH:mm' }" ShowTime [nzDisabledDate]="disabledDate" nzFormat="yyyy-MM-dd HH:mm" [nzAllowClear] [(ngModel)]="dateRange" (ngModelChange)="onDateRangeChange($event)"  style="width: 25%"></nz-range-picker>
            <button nz-button nzType="primary" nzBlock (click)="onSubmit()" style="width: 150px;margin-left: 30px">提交</button>
          </div>
          <nz-card style="margin-top: 20px;">
            <div>
              <ul *ngIf="experimentResult.length > 0">
                <li *ngIf="hasInvalidVariation"><i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i> 相对于基准特性并不具有统计学上的优势</li>
                <li *ngIf="hasWinnerVariation"><i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i> 该特性胜出</li>
                <li *ngIf="!hasWinnerVariation"><i nz-icon nzType="info-circle" nzTheme="outline"></i> 需要更多的实验数据才能在统计学上确认表格中的结论</li>
              </ul>
            </div>
            <nz-table #borderedTable nzBordered [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="experimentResult" style="margin-top: 20px;">
              <thead>
                <tr>
                  <th>特性</th>
                  <th>转化数 / 用户数</th>
                  <th>转化率</th>
                  <th style="width: 210px">置信区间</th>
                  <th>变化</th>
                  <th>P-值</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of borderedTable.data">
                  <tr *ngIf="data.isEmpty" class="empty_variation">
                    <td>
                      <span nz-tooltip [nzTooltipTitle]="'暂时没有实验数据'" [nzTooltipColor]="'cyan'">
                        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                      </span>
                      &nbsp;{{ data.variationValue }}
                    </td>
                    <td> -- </td>
                    <td> -- </td>
                    <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell"> <div>基准特性</div> </td>
                    <td *ngIf="!data.isBaseline"> -- </td>
                    <td *ngIf="!data.isBaseline"> -- </td>
                    <td> -- </td>
                  </tr>
                  <tr *ngIf="!data.isEmpty" [class.winner]="data.isWinner" >
                    <td>
                      <span *ngIf="data.isWinner" nz-tooltip [nzTooltipTitle]="'该特性胜出'" [nzTooltipColor]="'cyan'">
                        <i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i>
                      </span>
                      <span *ngIf="data.isInvalid" nz-tooltip [nzTooltipTitle]="'相对于基准特性并不具有统计学上的优势'" [nzTooltipColor]="'cyan'">
                        <ng-container *ngIf="!data.isBaseline">
                          <i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i>
                        </ng-container>
                        <ng-container *ngIf="data.isBaseline">
                          <span class="icon_placeholder"></span>
                        </ng-container>
                      </span>
                      <span class="icon_placeholder" *ngIf="!data.isWinner && !data.isInvalid"></span>
                      &nbsp;{{ data.variationValue }}</td>
                    <td>{{ data.conversion }}/{{ data.uniqueUsers }}</td>
                    <td>{{ data.conversionRate | percentage }}</td>
                    <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell">
                      <div>基准特性</div>
                    </td>
                    <td *ngIf="!data.isBaseline">
                      <div  style="width: 200px;box-sizing: border-box;">
                        <div *ngIf="data.confidenceInterval[0] >= 0" class="BoxChart">
                          <div class="BoxChart-whisker"></div>
                          <div class="BoxChart-box--container">
                            <div class="BoxChart-box--line"></div>
                            <div class="BoxChart-box" [style.left.px]="data.confidenceInterval[0] * 200" [style.width.px]="(data.confidenceInterval[1] - data.confidenceInterval[0]) * 200">
                              <div class="BoxChart-box--median" [style.left.px]="(data.conversionRate - data.confidenceInterval[0]) * 200"></div>
                            </div>
                          </div>
                          <div class="BoxChart-whisker"></div>
                        </div>
                       </div>
                       <div *ngIf="data.confidenceInterval[0] >= 0" class="confidence_interval">{{data.confidenceInterval[0] | percentage}} - {{data.confidenceInterval[1] | percentage}}</div>
                       <div *ngIf="data.confidenceInterval[0] === '-'"class="confidence_interval"> -- </div>
                    </td>
                    <td *ngIf="!data.isBaseline">
                      {{ data.changeToBaseline | percentage }}
                    </td>
                    <td>
                      {{ data.pValue }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </nz-card>
        </nz-spin>
      </div>
      <div *ngIf="experimentation==='pro only'">
        <nz-empty
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl"
        >
          <ng-template #contentTpl>
            <h2>
              该功能仅对 Professional 用户开放，请联系我们。
            </h2>
          </ng-template>
        </nz-empty>
      </div>
    </div>
  </ng-container>
</ng-template>
