<section class="body">
  <app-layout>
      <app-nav-btns name="header" [routeUrl]="'experimentations'" [id]="featureFlagId"></app-nav-btns>
      <ng-container *ngTemplateOutlet="experimentsTemplate" name="detail"></ng-container>
  </app-layout>
</section>

<ng-template #experimentsTemplate>
  <ng-template #loadingTem>
    <div class="spin">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </ng-template>
  <ng-container *ngIf="!isInitLoading; else loadingTem;">
    <div class="detail-body" name="detail" *ngIf="featureFlagId">
        <div *ngIf="experimentation==='V2'">
          <nz-empty style="margin-top: 50px" *ngIf="!isInitLoading && experimentList.length === 0"
          [nzNotFoundContent]="contentTpl"
          >
            <ng-template #contentTpl>
              <h2>
                此开关暂时还没有实验，<a style="color: green;text-decoration: underline;" [routerLink]="['/experiments']">
                  请点击此处前往数据实验页面创建实验。
                </a>
              </h2>
            </ng-template>
          </nz-empty>

          <ng-container *ngIf="!isInitLoading && experimentList.length > 0">
            <nz-card class="experiment" style="margin-top: 20px;">
              进入实验的用户满足以下<a (click)="onSetExptRulesClick()">规则</a> 
            </nz-card>
          </ng-container>

          <nz-card class="experiment" *ngFor="let experiment of experimentList" style="margin-top: 20px;">
              <div class="head">
                <div class="first-line">
                  <div class="title-area">
                    <div class="title">{{experiment.metric.name}}</div>
                    <nz-tag nzNoAnimation>
                      <ng-container *ngIf="experiment.metric.eventType === customEventType">
                        自定义事件: {{ experiment.metric.customEventTrackOption === customEventTrackConversion ? '转化率' : '数值' }}
                      </ng-container>
                      <ng-container *ngIf="experiment.metric.eventType === pageViewEventType">
                        Page View: 转化率
                      </ng-container>
                      <ng-container *ngIf="experiment.metric.eventType === clickEventType">
                        Click: 转化率
                      </ng-container>
                    </nz-tag>
                  </div>
                  <div style="display: flex;flex-direction: row">
                    <div *ngIf="experiment.status === 3">
                      <span *ngIf="experiment?.selectedIteration?.updatedAtStr?.length > 0">结果最后更新于： {{experiment?.selectedIteration?.updatedAtStr}}</span>
                      <button style="margin-left: 15px" nz-button nzType="default" nz-tooltip nzTooltipTitle="每30秒会自动刷新" nzTooltipColor="#87d068" (click)="onReloadIterationResultsClick(experiment)">
                        <i *ngIf="!experiment.isLoading" nz-icon nzType="reload" nzTheme="outline"></i>
                        <i *ngIf="experiment.isLoading" nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
                        点击刷新结果
                      </button>
                    </div>
<!--                    <button class="options" nz-button nzType="default" nz-dropdown [nzDropdownMenu]="options">-->
                      <i nz-icon style="cursor: pointer;font-size: 25px; font-weight: bold; margin-left: 20px" nzType="ellipsis" [nzRotate]="90" nzTheme="outline" nz-dropdown [nzDropdownMenu]="options" [nzClickHide]="false"></i>
<!--                    </button>-->

                    <nz-dropdown-menu #options="nzDropdownMenu">
                      <ul nz-menu nzSelectable style="min-width: 150px;">
                        <li nz-menu-item nz-popconfirm nzPopconfirmTitle="确定删除吗? 将会删除所有实验数据，删除后不可恢复。"
                            nzPopconfirmPlacement="bottomRight"
                            [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
                            style="width: 100%;display: flex;justify-content: center;"
                            (nzOnConfirm)="onDeleteExptDataClick(experiment)">
                          删除数据
                        </li>
                        <li nz-menu-item nz-popconfirm nzPopconfirmTitle="确定删除吗? 将会删除该实验及其实验数据，删除后不可恢复。"
                            nzPopconfirmPlacement="bottomRight"
                            [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
                            style="width: 100%;display: flex;justify-content: center;"
                            (nzOnConfirm)="onDeleteExptClick(experiment)">
                          删除实验
                        </li>
                      </ul>
                      <ng-template #iconTplExpt>
                        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                      </ng-template>
                    </nz-dropdown-menu>
                  </div>
                </div>
                <div class="second-line" *ngIf="experiment.status !== 1">
                  <button *ngIf="experiment.status === 2" nz-button nzType="default" (click)="onStartIterationClick(experiment)">
                    <i class="status paused" nz-icon nzType="pause-circle" nzTheme="outline"></i>
                    实验已暂停，点击继续实验
                  </button>
                  <button *ngIf="experiment.status === 3" nz-button nzType="default" (click)="onStopIterationClick(experiment)">
                    <i class="status on-going" nz-icon nzType="right-circle" nzTheme="outline"></i>
                    实验进行中，点击暂停实验
                  </button>
                  <div class="right">

                    <div *ngIf="experiment.iterations.length > 0">
                      时间区间： &nbsp;
                      <nz-select name="iterations_{{experiment.id}}"
                          [(ngModel)]="experiment.selectedIteration"
                      >
                        <nz-option *ngFor="let iteration of experiment.iterations" [nzLabel]="iteration.dateTimeInterval" [nzValue]="iteration"></nz-option>
                      </nz-select>
                    </div>
<!--                    <button nz-button nzType="default" nzDanger style="margin-left: 10px;"-->
<!--                            nz-popconfirm nzPopconfirmTitle="确定删除吗? 将会删除所有实验数据，删除后不可恢复。"-->
<!--                            nzPopconfirmPlacement="bottomRight"-->
<!--                            [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"-->
<!--                            (nzOnConfirm)="onDeleteExptDataClick(experiment)">删除数据</button>-->
<!--                    <button nz-button nzType="default" nzDanger style="margin-left: 10px;"-->
<!--                            nz-popconfirm nzPopconfirmTitle="确定删除吗? 将会删除该实验及其实验数据，删除后不可恢复。"-->
<!--                            nzPopconfirmPlacement="bottomRight"-->
<!--                            [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"-->
<!--                            (nzOnConfirm)="onDeleteExptClick(experiment)">删除实验</button>-->
<!--                    <button class="options" nz-button nzType="default" nz-dropdown [nzDropdownMenu]="options">-->
<!--                      <i nz-icon nzType="ellipsis" nzTheme="outline"></i>-->
<!--                    </button>-->
<!--                    <nz-dropdown-menu #options="nzDropdownMenu">-->
<!--                      <ul nz-menu nzSelectable>-->
<!--                        <li nz-menu-item nz-popconfirm nzPopconfirmTitle="确定删除吗?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="onDeleteExptDataClick(experiment)" [nzIcon]="iconTplExpt">-->
<!--                          <div class="title">删除数据</div>-->
<!--                          <div class="subtitle">将会删除所有实验数据，删除后不可恢复</div>-->
<!--                        </li>-->
<!--                        <li nz-menu-item nz-popconfirm nzPopconfirmTitle="确定删除吗?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="onDeleteExptClick(experiment)" [nzIcon]="iconTplExpt">-->
<!--                          <div class="title">删除实验</div>-->
<!--                          <div class="subtitle">将会删除该实验及其实验数据，删除后不可恢复</div>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                      <ng-template #iconTplExpt>-->
<!--                        <i nz-icon nzType="question-circle-o" style="color: red;"></i>-->
<!--                      </ng-template>-->
<!--                    </nz-dropdown-menu>-->
                  </div>
                </div>
                <div class="third-line" *ngIf="experiment.status !== 1">
                  <ul *ngIf="experiment.selectedIteration?.results?.length > 0">
                    <li *ngIf="experiment.hasInvalidVariation"><i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i> 相对于基准特性并不具有统计学上的优势</li>
                    <li *ngIf="experiment.hasWinnerVariation"><i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i> 该特性胜出</li>
                    <li *ngIf="!experiment.hasWinnerVariation"><i nz-icon nzType="info-circle" nzTheme="outline"></i> 需要更多的实验数据才能在统计学上确认表格中的结论</li>
                  </ul>
                </div>
              </div>
              <div *ngIf="experiment.status === 1" class="empty-experiment">
                <button nz-button nzType="primary" (click)="onStartIterationClick(experiment)" [nzLoading]="isLoadingTwo">
                  <i class="status on-going" nz-icon nzType="right-circle" nzTheme="outline"></i>
                  开始实验
                </button>
              </div>
              <nz-spin [nzSpinning]="experiment.isLoading" nzTip="数据加载中..." >
                <nz-table *ngIf="experiment.status !== 1" nzSize="small" #borderedTable nzBordered [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="experiment?.selectedIteration?.results" style="margin-top: 10px;">
                  <thead>
                    <tr class="table-th-style">
                      <th>特性</th>
                      <ng-container *ngIf="[undefined, customEventTrackConversion].includes(experiment.metric.customEventTrackOption)">
                        <th>转化数 / 用户数</th>
                        <th>转化率</th>
                      </ng-container>
                      <ng-container *ngIf="experiment.metric.customEventTrackOption === customEventTrackNumeric">
                        <th>总事件数</th>
                        <th>平均值</th>
                      </ng-container>
                      <th style="width: 210px">置信区间</th>
                      <th>变化</th>
                      <th>P-值
                        <span [nzTooltipOverlayStyle]="{'max-width': '300px'}" nz-tooltip [nzTooltipTitle]="'P 值越小越好，小于0.05表示实验结果显著'" [nzTooltipColor]="'cyan'">
                          <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of borderedTable.data">
                      <tr *ngIf="data.isEmpty" class="empty_variation">
                        <td>
                          <span nz-tooltip [nzTooltipTitle]="'暂时没有实验数据'" [nzTooltipColor]="'cyan'">
                            <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                          </span>
                          &nbsp;{{ data.variationValue }}
                        </td>
                        <td> --/-- </td>
                        <td> -- </td>
                        <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell"> <div>基准特性</div> </td>
                        <td *ngIf="!data.isBaseline"> -- </td>
                        <td *ngIf="!data.isBaseline"> -- </td>
                        <td> -- </td>
                      </tr>
                      <tr *ngIf="!data.isEmpty" [class.winner]="data.isWinner" >
                        <td>
                          <span *ngIf="data.isWinner" nz-tooltip [nzTooltipTitle]="'该特性胜出'" [nzTooltipColor]="'cyan'">
                            <i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i>
                          </span>
                          <span *ngIf="data.isInvalid" nz-tooltip [nzTooltipTitle]="'相对于基准特性并不具有统计学上的优势'" [nzTooltipColor]="'cyan'">
                            <ng-container *ngIf="!data.isBaseline">
                              <i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i>
                            </ng-container>
                            <ng-container *ngIf="data.isBaseline">
                              <span class="icon_placeholder"></span>
                            </ng-container>
                          </span>
                          <span class="icon_placeholder" *ngIf="!data.isWinner && !data.isInvalid"></span>
                          &nbsp;{{ data.variationValue }}</td>
                        <ng-container *ngIf="[undefined, customEventTrackConversion].includes(experiment.metric.customEventTrackOption)">
                          <td>{{ data.conversion }}/{{data.uniqueUsers}}</td>
                          <td>{{ data.conversionRate | percentage }}</td>
                        </ng-container>
                        <ng-container *ngIf="experiment.metric.customEventTrackOption === customEventTrackNumeric">
                          <td>{{ data.totalEvents }}</td>
                          <td>{{ data.average }} <span *ngIf="data.average !== '--'">{{experiment.metric.customEventUnit}}</span></td>
                        </ng-container>

                        <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell">
                          <div>基准特性</div>
                        </td>

                        <ng-container *ngIf="[undefined, customEventTrackConversion].includes(experiment.metric.customEventTrackOption)">
                          <td *ngIf="!data.isBaseline">
                            <div  style="width: 200px;box-sizing: border-box;">
                              <div *ngIf="data.confidenceInterval[0] >= 0" class="BoxChart">
                                <div class="BoxChart-whisker"></div>
                                <div class="BoxChart-box--container">
                                  <div class="BoxChart-box--line"></div>
                                  <div class="BoxChart-box" [style.left.px]="data.confidenceInterval[0] * 200" [style.width.px]="(data.confidenceInterval[1] - data.confidenceInterval[0]) * 200">
                                    <div class="BoxChart-box--median" [style.left.px]="(data.conversionRate - data.confidenceInterval[0]) * 200"></div>
                                  </div>
                                </div>
                                <div class="BoxChart-whisker"></div>
                              </div>
                            </div>
                            <div *ngIf="data.confidenceInterval[0] >= 0" class="confidence_interval">{{data.confidenceInterval[0] | percentage}} - {{data.confidenceInterval[1] | percentage}}</div>
                            <div *ngIf="data.confidenceInterval[0] === -1"class="confidence_interval"> -- </div>
                          </td>
                        </ng-container>
                        <ng-container *ngIf="experiment.metric.customEventTrackOption === customEventTrackNumeric">
                          <td *ngIf="!data.isBaseline">
                            <div  style="width: 200px;box-sizing: border-box;">
                              <div *ngIf="data.confidenceInterval[0] >= 0" class="BoxChart">
                                <div class="BoxChart-whisker"></div>
                                <div class="BoxChart-box--container">
                                  <div class="BoxChart-box--line"></div>
                                  <div class="BoxChart-box" [style.left.px]="(data.confidenceInterval[0] - experiment.selectedIteration.numericConfidenceIntervalBoundary[0]) / experiment.selectedIteration.numericConfidenceIntervalBoundary[2] * 200" [style.width.px]="(data.confidenceInterval[1] - data.confidenceInterval[0]) / experiment.selectedIteration.numericConfidenceIntervalBoundary[2] * 200">
                                    <div class="BoxChart-box--median" [style.left.px]="(data.average - data.confidenceInterval[0]) / experiment.selectedIteration.numericConfidenceIntervalBoundary[2] * 200"></div>
                                  </div>
                                </div>
                                <div class="BoxChart-whisker"></div>
                              </div>
                            </div>
                            <div *ngIf="data.confidenceInterval[0] >= 0" class="confidence_interval">{{data.confidenceInterval[0]}} {{experiment.metric.customEventUnit}} - {{data.confidenceInterval[1]}} {{experiment.metric.customEventUnit}}</div>
                            <div *ngIf="data.confidenceInterval[0] === -1"class="confidence_interval"> -- </div>
                          </td>
                        </ng-container>

                        <td *ngIf="!data.isBaseline">
                          {{ data.changeToBaseline | percentage }}
                        </td>
                        <td>
                          {{ data.pValue }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </nz-table>
                <ng-container *ngIf="experiment.isChartExpanded">
                  <g2-line-chart [containerId]="experiment.id" [chartConfig]="experiment.chartConfig"></g2-line-chart>
                </ng-container>
                <div style="text-align: center; margin-top: 10px">
                  <button nz-button nzType="default" (click)="experiment.isChartExpanded = !experiment.isChartExpanded">
                    {{ experiment.isChartExpanded ? '收起图表' : '查看图表' }}
                  </button>
                </div>
              </nz-spin>
          </nz-card>
        </div>
        <!-- <div *ngIf="experimentation==='final version' || experimentation==='temporary version'">
          <nz-spin [nzSpinning]="isLoadingResult" nzTip="数据加载中...">
            <div nz-row>
              <span style="display:inline-block; margin-right: 10px;">事件名称</span>
              <nz-select name="event_list"
                  nzAllowClear
                  nzShowSearch
                  nzServerSearch
                  nzPlaceHolder="请选择事件"
                  [(ngModel)]="selectedEvent"
                  (nzOnSearch)="onSearchEvents($event)"
                  style="width: 25%">
                  <ng-container *ngFor="let event of eventList">
                    <nz-option *ngIf="!isEventsLoading" [nzLabel]="event" [nzValue]="event"></nz-option>
                  </ng-container>
                  <nz-option *ngIf="isEventsLoading" nzDisabled nzCustomContent>
                      <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                  </nz-option>
              </nz-select>
            </div>
            <div nz-row style="margin-top: 10px;">
              <span style="display:inline-block; margin-right: 10px;">基准特性</span>
              <nz-select name="baseline" nzPlaceHolder="请选择基准特性" [(ngModel)]="selectedBaseline" style="width: 25%">
                <nz-option *ngFor="let variation of currentVariationOptions" [nzLabel]="variation.variationValue" [nzValue]="variation"></nz-option>
              </nz-select>
            </div>
            <div nz-row style="margin-top: 10px;">
              <span style="display:inline-block; margin-right: 10px;">时间区间</span>
              <nz-range-picker name="date_range" [nzShowTime]="{ nzFormat: 'HH:mm' }" ShowTime [nzDisabledDate]="disabledDate" nzFormat="yyyy-MM-dd HH:mm" [nzAllowClear] [(ngModel)]="dateRange" (ngModelChange)="onDateRangeChange($event)"  style="width: 25%"></nz-range-picker>
              <button nz-button nzType="primary" nzBlock (click)="onSubmit()" style="width: 150px;margin-left: 30px">提交</button>
            </div>
            <nz-card style="margin-top: 20px;">
              <div>
                <ul *ngIf="experimentResult.length > 0">
                  <li *ngIf="hasInvalidVariation"><i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i> 相对于基准特性并不具有统计学上的优势</li>
                  <li *ngIf="hasWinnerVariation"><i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i> 该特性胜出</li>
                  <li *ngIf="!hasWinnerVariation"><i nz-icon nzType="info-circle" nzTheme="outline"></i> 需要更多的实验数据才能在统计学上确认表格中的结论</li>
                </ul>
              </div>
              <nz-table #borderedTable nzBordered [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="experimentResult" style="margin-top: 20px;" nzSize="small">
                <thead>
                  <tr>
                    <th>特性</th>
                    <th>转化数 / 用户数</th>
                    <th>转化率</th>
                    <th style="width: 210px">置信区间</th>
                    <th>变化</th>
                    <th>P-值</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let data of borderedTable.data">
                    <tr *ngIf="data.isEmpty" class="empty_variation">
                      <td>
                        <span nz-tooltip [nzTooltipTitle]="'暂时没有实验数据'" [nzTooltipColor]="'cyan'">
                          <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                        </span>
                        &nbsp;{{ data.variationValue }}
                      </td>
                      <td> -- </td>
                      <td> -- </td>
                      <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell"> <div>基准特性</div> </td>
                      <td *ngIf="!data.isBaseline"> -- </td>
                      <td *ngIf="!data.isBaseline"> -- </td>
                      <td> -- </td>
                    </tr>
                    <tr *ngIf="!data.isEmpty" [class.winner]="data.isWinner" >
                      <td>
                        <span *ngIf="data.isWinner" nz-tooltip [nzTooltipTitle]="'该特性胜出'" [nzTooltipColor]="'cyan'">
                          <i nz-icon class="winner_icon" nzType="check-circle" nzTheme="outline"></i>
                        </span>
                        <span *ngIf="data.isInvalid" nz-tooltip [nzTooltipTitle]="'相对于基准特性并不具有统计学上的优势'" [nzTooltipColor]="'cyan'">
                          <ng-container *ngIf="!data.isBaseline">
                            <i nz-icon class="invalid_icon" nzType="close-circle" nzTheme="outline"></i>
                          </ng-container>
                          <ng-container *ngIf="data.isBaseline">
                            <span class="icon_placeholder"></span>
                          </ng-container>
                        </span>
                        <span class="icon_placeholder" *ngIf="!data.isWinner && !data.isInvalid"></span>
                        &nbsp;{{ data.variationValue }}</td>
                      <td>{{ data.conversion }}/{{ data.uniqueUsers }}</td>
                      <td>{{ data.conversionRate | percentage }}</td>
                      <td *ngIf="data.isBaseline" colspan="2" class="baseline_cell">
                        <div>基准特性</div>
                      </td>
                      <td *ngIf="!data.isBaseline">
                        <div  style="width: 200px;box-sizing: border-box;">
                          <div *ngIf="data.confidenceInterval[0] >= 0" class="BoxChart">
                            <div class="BoxChart-whisker"></div>
                            <div class="BoxChart-box--container">
                              <div class="BoxChart-box--line"></div>
                              <div class="BoxChart-box" [style.left.px]="data.confidenceInterval[0] * 200" [style.width.px]="(data.confidenceInterval[1] - data.confidenceInterval[0]) * 200">
                                <div class="BoxChart-box--median" [style.left.px]="(data.conversionRate - data.confidenceInterval[0]) * 200"></div>
                              </div>
                            </div>
                            <div class="BoxChart-whisker"></div>
                          </div>
                        </div>
                        <div *ngIf="data.confidenceInterval[0] >= 0" class="confidence_interval">{{data.confidenceInterval[0] | percentage}} - {{data.confidenceInterval[1] | percentage}}</div>
                        <div *ngIf="data.confidenceInterval[0] === '-'"class="confidence_interval"> -- </div>
                      </td>
                      <td *ngIf="!data.isBaseline">
                        {{ data.changeToBaseline | percentage }}
                      </td>
                      <td>
                        {{ data.pValue }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </nz-table>
            </nz-card>
          </nz-spin>
        </div> -->
        <div *ngIf="experimentation==='pro only'">
          <nz-empty
          nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
          [nzNotFoundContent]="contentTpl"
          >
            <ng-template #contentTpl>
              <h2>
                该功能仅对 Professional 用户开放，请联系我们。
              </h2>
            </ng-template>
          </nz-empty>
        </div>
    </div>
  </ng-container>
</ng-template>

<app-expt-rules-drawer [visible]="exptRulesVisible" (close)="onSetExptRulesClosed($event)" [featureFlag]="currentFeatureFlag"></app-expt-rules-drawer>