<nz-drawer nzClosable [nzVisible]="visible" nzPlacement="right" [nzWidth]="700" nzTitle="Metric 信息" [nzFooter]="confirm" (nzOnClose)="onClose()">
  <ng-container *nzDrawerContent>
    <div class="drawer-layout">
      <form id="myForm" nz-form [formGroup]="metricForm" (ngSubmit)="doSubmit()" nzLayout="vertical" class="layout-form">
        <nz-form-item>
            <nz-form-label>名称</nz-form-label>
            <nz-form-control nzErrorTip="名称！">
                <nz-input-group>
                    <input type="text" nz-input formControlName="name" placeholder="名称" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>描述</nz-form-label>
          <nz-form-control nzErrorTip="描述！">
              <nz-input-group>
                  <input type="text" nz-input formControlName="description" placeholder="描述" />
              </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>维护人</nz-form-label>
          <nz-form-control nzErrorTip="维护人！">
              <nz-input-group>
                <nz-select
                  nzPlaceHolder="选择维护人"
                  nzAllowClear
                  nzShowSearch
                  nzServerSearch
                  formControlName="maintainerUserId"
                  (nzOnSearch)="onSearchMaintainer($event)"
                >
                  <ng-container *ngFor="let o of maintainerList">
                    <nz-option *ngIf="!isMaintainersLoading" [nzValue]="o.userId" [nzLabel]="o.userName || o.email"></nz-option>
                  </ng-container>
                  <nz-option *ngIf="isMaintainersLoading" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i>
                    数据加载中...
                  </nz-option>
                </nz-select>
              </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-divider></nz-divider>
        <h3>事件相关信息</h3>
        <nz-form-item>
          <nz-form-label>事件类型</nz-form-label>
          <nz-form-control nzErrorTip="事件类型！">
            <nz-input-group>
              <div class="">
                <nz-select formControlName="eventType" (ngModelChange)="onEventTypeChange($event)">
                  <nz-option [nzValue]="customEventType" nzLabel="Custom - 自定义事件"></nz-option>
                  <nz-option *ngIf="pageviewClickEnabled" [nzValue]="pageViewEventType" nzLabel="Page view - 页面展示"></nz-option>
                  <!-- <nz-option *ngIf="pageviewClickEnabled" [nzValue]="clickEventType" nzLabel="Click - 点击事件"></nz-option> -->
                </nz-select>
              </div>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <ng-container *ngIf="metricForm.value.eventType === pageViewEventType || metricForm.value.eventType === clickEventType">
          <nz-form-item *ngIf="metricForm.value.eventType === clickEventType">
            <nz-form-label>Click - 点击事件的 Targets </nz-form-label>
            <nz-form-control nzErrorTip="Click - 点击事件的 Targets! ">
                <nz-input-group>
                    <input type="text" nz-input formControlName="elementTargets" placeholder="一个或多个 CSS selector，中间用逗号(,)隔开，请确保不要使用中文逗号！" />
                </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item formArrayName="targetUrls">
            <nz-form-label><span>目标页面 URL</span> <a (click)="addTargetUrl()" style="margin-left:20px;font-weight: 800;font-size: 16px;"><i nz-icon style="color: #9A95CC" nzType="plus-square" nzTheme="outline"></i></a></nz-form-label>
            <div *ngFor="let n of metricForm.controls.targetUrls.controls; let idx = index;" style="margin-bottom: 5px">
              <nz-form-control nzErrorTip="URL！" formGroupName="{{idx}}">
                <nz-input-group nzCompact>
                  <nz-select formControlName="matchType" style="width:30%;">
                    <nz-option [nzLabel]="'字符串包含'" [nzValue]="substringUrlMatchType"></nz-option>
                  </nz-select>
                  <input type="text" nz-input formControlName="url" placeholder="目标页面地址" style="width:65%;" />
                  <a (click)="removeTargetUrl(idx)" style="width:5%;"><i nz-icon style="color: #9A95CC" nzType="delete" nzTheme="fill" style="margin-top: 10px;margin-left:15px"></i></a>
                </nz-input-group>
              </nz-form-control>
            </div>
          </nz-form-item>
        </ng-container>
        <ng-container *ngIf="metricForm.value.eventType === customEventType">
          <nz-form-item>
            <nz-form-control nzErrorTip="事件选项！">
              <nz-radio-group formControlName="customEventTrackOption" class="custom-event-option">
                <label nz-radio [nzValue]="customEventTrackConversion">转化率</label>
                <label nz-radio [nzValue]="customEventTrackNumeric">数值</label>
              </nz-radio-group>
            </nz-form-control>
            <span *ngIf="metricForm.value.customEventTrackOption === customEventTrackNumeric"><i nz-icon nzType="info-circle" nzTheme="fill" style="color: #faad14"></i> 为了获得精确结果，数值型的实验要求在埋点时必须发送一个数值。</span>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>事件名称</nz-form-label>
            <nz-form-control nzErrorTip="事件名称！">
                <nz-input-group>
                    <input type="text" nz-input formControlName="eventName" placeholder="事件名称" />
                </nz-input-group>
            </nz-form-control>
            在代码中埋点时使用该事件名称。
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>计量单位</nz-form-label>
            <nz-form-control nzErrorTip="计量单位！">
              <nz-input-group>
                <input type="text" nz-input formControlName="customEventUnit" placeholder="ms, 毫秒，元，￥ 等" />
            </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>实验胜出标准</nz-form-label>
            <nz-form-control nzErrorTip="实验胜出标准">
              <nz-input-group>
                <div class="">
                  <nz-select formControlName="customEventSuccessCriteria">
                    <nz-option [nzValue]="customEventSuccessCriteriaHigher" nzLabel="高于 基准特性"></nz-option>
                    <nz-option [nzValue]="customEventSuccessCriteriaLower" nzLabel="低于 基准特性"></nz-option>
                  </nz-select>
                </div>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </ng-container>

      </form>
    </div>
  </ng-container>
  <ng-template #confirm>
    <button form="myForm" style="float: right" nz-button class="form-button form-margin" [nzType]="'primary'" [nzLoading]="isLoading">确认</button>

  </ng-template>
</nz-drawer>

