<section class="body">
    <app-layout>
        <app-nav-btns name="header" [routeUrl]="'setting'" [id]="currentSwitch?.id"></app-nav-btns>
        <div class="setting-body" name="detail" *ngIf="currentSwitch">
            <div class="info-item">
                <div class="label">名称</div>
                <input class="name half" nz-input placeholder="开关名称..." [(ngModel)]="currentSwitch.name" />
            </div>
            <div class="info-item">
                <div class="label">Key Name</div>
                <div nz-typography nzCopyable [nzCopyText]="currentSwitch.keyName">
                  <input nz-input class="key half" [disabled]="true" placeholder="KeyName..." [(ngModel)]="currentSwitch.keyName" />
                </div>
            </div>
            <nz-divider></nz-divider>
            <div class="info-item">
              <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;margin-bottom: 25px;">
                <div class="label" style="margin: 0">返回状态管理</div>
                <div class="wrap-right">
                  <button nz-button nzType="primary" (click)="addVariationOptionRow()">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    添加状态
                  </button>
                </div>
              </div>
              <nz-table id="multistatetable" #editRowTable [nzData]="variationOptions" [nzFrontPagination]="false" [nzSize]="'small'" [nzShowPagination]="false">
                <thead>
                  <tr class="table-th-style">
                    <th>返回值</th>
                    <th nzAlign="center">操作</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let variationOption of variationOptions" class="editable-row">
                    <td>
                      <!-- <div class="editable-cell" [hidden]="variationOptionEditId === variationOption.localId" (click)="startEditVariationOption(variationOption.localId)">
                        {{ variationOption.variationValue || 'Click to edit' }}
                      </div>
                      <input [hidden]="variationOptionEditId !== variationOption.localId" type="text" nz-input [(ngModel)]="variationOption.variationValue" (blur)="stopEditVariationOption()" /> -->
                      <span nz-typography nzCopyable [nzCopyText]="variationOption.variationValue">
                        <input type="text" style="width: 95%" nz-input [(ngModel)]="variationOption.variationValue" (blur)="stopEditVariationOption()" />
                      </span>
                    </td>
                    <td [nzAlign]="'center'">
                      <a nz-popconfirm nzPopconfirmTitle="确定删除吗? 删除后将不可恢复！" nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteVariationOptionRow(variationOption.localId)"><i nz-icon style="color: #9A95CC" nzType="delete" nzTheme="fill"></i></a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <div class="info-item">
                <button class="submit" nz-button nzType="primary" (click)="onSaveSwitch()">保存</button>
            </div>

            <button nz-button style="background-color: rgba(255, 0, 0, 0.5);color: #fff" nzType="default" (click)="onArchiveClick()">
                存档开关（软删除）
            </button>
        </div>
    </app-layout>
</section>
