form {
    width: 500px;
}

nz-select {
  width: 500px;
}

.title{
  margin: 20px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  div{
    font-weight: bold;
  }
}

.title-change-account{
  margin: 40px 0 20px 0;
  font-weight: bold;
}

.integrate-sdk {
  overflow: auto;
  width: 100%;
  height: 600px;
}

.init-code {
  margin-top: 15px;

  .code-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    pre {
      background-color: #EEEEEE;
      border-radius: 10px;
      margin-top: 10px;
      width: 100%;
    }
  }

  
}

i{
  color: #9A95CC;
}

::ng-deep {
  .init-code .code-wrapper .ant-typography-copy {
    position: relative;
    top: 20px;
    right: 30px;
  }
}