<section class="body">
    <app-layout>
        <app-nav-btns name="header" [routeUrl]="'condition'" [id]="switchId"></app-nav-btns>
        <ng-container *ngTemplateOutlet="conditionTemplate" name="detail"></ng-container>
    </app-layout>
</section>

<ng-template #conditionTemplate>
    <ng-container *ngIf="!isLoading; else loadingTem;">
        <div class="detail-body">
          <div id="demo-link" *ngIf="featureDetail?.ff?.keyName === '示例开关'">
            <a target="_blank" href="http://antd.feature-flags.co/user/?envKey={{currentProjectEnv?.envSecret}}">点击查看 Demo</a>
          </div>
          <ng-container *ngIf="featureDetail?.ff?.type === pretargetedFeatureType">
            此开关用于进行无埋点的 A/B/n 测试， 适用于客户端已经对用户进行了预分流而无需使用敏捷开关进行用户分流的使用场景.
          </ng-container>

          <ng-container *ngIf="featureDetail?.ff?.type !== pretargetedFeatureType">
            <div class="item" style="display: flex;flex-direction: row;justify-content: space-between;">
              <div class="item-short">
                <div class="label">开启或关闭开关</div>
                <nz-switch [ngModel]="switchStatus === 'Enabled'" (click)="onChangeSwitchStatus(switchStatus)" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
              </div>
              <div>
                <button *ngIf="!approvalRequestEnabled" nz-button nzType="primary" (click)="onSaveConditionsOld()">保存设置</button>
                <nz-button-group *ngIf="approvalRequestEnabled">
                  <button nz-button nzType="primary" (click)="onPreSaveConditions()">保存设置</button>
                  <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight"><i nz-icon nzType="ellipsis"></i></button>
                </nz-button-group>
                <nz-dropdown-menu #menu1="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="onRequestApproval()">请求审阅</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </div>
            <div class="item" style="margin: 0">
              <upper-switch [featureList]="featureList" [upperFeatures]="upperFeatures" (search)="onSearchPrequisiteFeatureFlags($event)" (onUpperSwicthChange)="onUpperSwicthChange($event)"></upper-switch>
            </div>
            <div class="item">
              <nz-collapse [nzBordered]="false" [nzGhost]="true">
                <ng-template #collapseTitle>
                    <span style="font-size: 13px;font-weight: bold;">目标用户</span>
                    <div *ngIf="featureDetail?.exptIncludeAllRules" style="text-align: right;">
                      <i nz-icon nzType="aim" nzTheme="outline"></i>分流进入数据实验 <a (click)="onSetExptRulesClick(data)"><i nz-icon nzType="edit" nzTheme="fill"></i>编辑</a>
                    </div>
                </ng-template>
                <nz-collapse-panel [nzHeader]="collapseTitle" [nzActive]="targetIndividualsActive">
                  <div class="content" *ngFor="let variationOption of variationOptions; let i = index">
                    <target-user [type]="variationOption.variationValue"
                                  [tipIdx]="i"
                                  [userList]="userList"
                                  [selectedUserDetailList]="targetIndividuals[variationOption.localId]"
                                  (search)="onSearchUser($event)"
                                  (onSelectedUserListChange)="onMultistatesSelectedUserListChange($event, variationOption.localId)"></target-user>
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
            <div>
              <div class="item" style="display: flex;flex-direction: row;justify-content: space-between;">
                <div class="label">使用匹配条件找到目标用户</div>
                <button nz-button nzType="primary" (click)="onAddRule()">
                  <i nz-icon nzType="plus" style="color: #fff;" nzTheme="outline"></i>添加规则</button>
              </div>
                <ng-container *ngFor="let condition of featureDetail?.getFftuwmtr(); let key=index;">
                    <div class="content">
                      <div *ngIf="featureDetail?.exptIncludeAllRules || condition.isIncludedInExpt" style="text-align: right;margin-top:20px">
                        <i nz-icon nzType="aim" nzTheme="outline"></i>分流进入数据实验 <a (click)="onSetExptRulesClick(data)"><i nz-icon nzType="edit" nzTheme="fill"></i>编辑</a>
                      </div>
                        <find-rule [data]="condition"
                                   [properties]="propertiesList"
                                   [index]="key"
                                   (deleteRule)="onDeleteRule(key)"
                                   (percentageChange)="onPercentageChange($event, key)"
                                   (ruleConfigChange)="onRuleConfigChange($event, key)"
                                   [variationOptions]="variationOptions"
                                   [rulePercentageRollouts]="condition?.valueOptionsVariationRuleValues"
                                   (onPercentageChangeMultistates)="onPercentageChangeMultistates($event, key)"></find-rule>
                    </div>
                </ng-container>
            </div>
            <div class="item item-short" style="margin-top:32px;display: flex;justify-content: space-between;align-items: flex-start;">
              <div>
                <div class="label" style="align-self: flex-start">默认返回值</div>
                <app-serve-multistates [isSingle]="true"
                            [variationOptions]="variationOptions"
                            [rulePercentageRollouts]="featureDetail?.getFFDefaultRulePercentageRollouts()"
                            (onPercentageChange)="onDefaultRulePercentageRolloutsChange($event)"></app-serve-multistates>
              </div>
              <div *ngIf="featureDetail?.exptIncludeAllRules || featureDetail?.ff.isDefaultRulePercentageRolloutsIncludedInExpt">
                <i nz-icon nzType="aim" nzTheme="outline"></i>分流进入数据实验 <a (click)="onSetExptRulesClick(data)"><i nz-icon nzType="edit" nzTheme="fill"></i>编辑</a>
              </div>

            </div>
            <div class="item">
              <div class="default">
                <span class="label">如果开关关闭了，应返回</span>
                <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="ddm">
                  {{featureDetail?.getFFVariationOptionWhenDisabled()?.variationValue}}
                  <i nz-icon nzType="down"></i>
                </button>
              </div>
              <nz-dropdown-menu #ddm="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngFor="let variationOption of variationOptions" (click)="onVariationOptionWhenDisabledChange(variationOption)">{{variationOption.variationValue}}</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </ng-container>
        </div>
    </ng-container>
    <ng-template #loadingTem>
        <div class="spin">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
    </ng-template>
</ng-template>

<nz-modal [nzWidth]='800' nzClassName="target-approval" [(nzVisible)]="requestApprovalModalVisible" [nzTitle]="isApprovalRequestModal ? '请求审阅' : '保存改动'" [nzClosable]="false" (nzOnCancel)="requestApprovalModalVisible=false">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="0" class="">
      <section class="context">
        <div><span>{{pendingChanges.featureFlag.name}}</span><span> ({{pendingChanges.featureFlag.keyName}}) </span></div>
        <div><span>环境 : </span><span>{{pendingChanges.projectEnv.envName}}</span></div>
      </section>
      <section class="warning-message">
        <div class="warning">
          <span class="warning-icon"><i nz-icon nzType="warning" nzTheme="fill"></i></span>
          <div class="warning-content">以下改动将可能会影响到统计数据</div>
        </div>
      </section>
      <section class="pending-changes">
        <h3 class="pending-changes-title">改动</h3>
        <div class="change-instructions">
          <p class="instruction-count">
            <span>{{pendingChanges.data.instructions.length}}</span> 个待提交改动
          </p>
          <ul class="instruction-list">
            <li class="instruction-category" *ngFor="let item of pendingChanges.categorizedInstructions" >
              <ng-container *ngIf="item.changes.length > 0">
                <h3>{{item.category}}</h3>
                <ul class="instructions">
                  <li class="instruction" *ngFor="let change of item.changes">
                    <span [innerHtml]="change | safeHtml"></span>
                  </li>
                </ul>
              </ng-container>
            </li>
          </ul>
        </div>
      </section>

      <section  class="approval-request">
        <div class="approval-request-title">
          <div>请求审阅</div>
          <div (click)='isApprovalRequestModal=!isApprovalRequestModal'><i *ngIf="isApprovalRequestModal" nz-icon nzType="minus" nzTheme="outline" style="cursor: pointer;"></i><i *ngIf="!isApprovalRequestModal" nz-icon nzType="plus" nzTheme="outline" style="cursor: pointer;"></i></div>
        </div>
        <div *ngIf="isApprovalRequestModal">
          <div>描述<span style="color:red">*</span></div>
          <input nz-input placeholder="请对改动做简要描述" class="ffc-input" [(ngModel)]="pendingChanges.comment" />
          <div style="margin-top:5px">审核人<span style="color:red">*</span></div>
          <nz-select
            nzMode="multiple"
            nzPlaceHolder="选择审核人"
            nzAllowClear
            nzShowSearch
            nzServerSearch
            [(ngModel)]="pendingChanges.selectedReviewers"
            (nzOnSearch)="pendingChanges.onSearchReviewers($event)"
          >
            <ng-container *ngFor="let o of pendingChanges.reviewerList">
              <nz-option *ngIf="!pendingChanges.isReviewersLoading" [nzValue]="o" [nzLabel]="o.userName || o.email"></nz-option>
            </ng-container>
            <nz-option *ngIf="pendingChanges.isReviewersLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i>
              数据加载中...
            </nz-option>
          </nz-select>
        </div>
      </section>
      <section *ngIf="!isApprovalRequestModal" class="save">
        <div class="save-title">评论</div>
        <textarea class="ffc-input" rows="4" nz-input [(ngModel)]="pendingChanges.comment"></textarea>
      </section>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <span style="display:inline-box;color:red;margin-right:10px" *ngIf="!pendingChanges.hasInstruction()">只有在存在改动的情况下才可<span *ngIf="!isApprovalRequestModal">保存</span><span *ngIf="isApprovalRequestModal">提交审阅</span></span>
    <button nz-button nzType="default" (click)="requestApprovalModalVisible=false">取消</button>
    <button [disabled]="!pendingChanges.hasInstruction()" *ngIf="!isApprovalRequestModal" nz-button nzType="primary" (click)="onSaveConditions()" >保存改动</button>
    <button [disabled]="!pendingChanges.canSubmit()" *ngIf="isApprovalRequestModal" nz-button nzType="primary" (click)="handleOk()" >提交审阅</button>
  </div>
</nz-modal>

<app-expt-rules-drawer [visible]="exptRulesVisible" (close)="onSetExptRulesClosed($event)" [featureFlag]="featureDetail"></app-expt-rules-drawer>
