<div class="project-layout">
    <div class="operation-tools">
        <section nz-col nzSpan="12">
            <input style="width: 400px" nz-input placeholder="按项目名字查找" [(ngModel)]="searchValue" (ngModelChange)="doSearch()"/>
        </section>

        <button nz-button nzType="primary" (click)="onCreateProjectClick()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            添加 Project
        </button>
    </div>
    <div class="project-list" #listRef>
        <div *ngFor="let project of projects" class="project">
            <section>
              <nz-card style="margin-bottom: 10px;">
                <nz-descriptions style="margin-bottom: 20px" nzTitle="{{project.name}}" [nzExtra]="extraTemplate"></nz-descriptions>
                <div *ngFor="let env of project.environments; let isLast = last;">
                  <div class="description">
                    <div class="description-env">
                      <div>
                        <div class="desc-name">环境名</div>
                        <div class="desc-content">{{env.name}}</div>
                      </div>
                      <div>
                        <div class="desc-name">描述</div>
                        <div class="desc-content">{{env.description}}</div>
                      </div>
                    </div>
                    <div class="description-secret">
                      <div>
                        <div class="desc-name">Secret</div>
                        <div class="desc-content"
                             *ngIf="env.secret?.length > 0" nz-typography nzCopyable nzCopyText="{{ env.secret }}">
                          {{env.secret}}
                        </div>
                      </div>
                      <!-- <div>
                        <div class="desc-name">Mobile Secret</div>
                        <div class="desc-content"
                             *ngIf="env.mobileSecret?.length > 0" nz-typography nzCopyable nzCopyText="{{ env.mobileSecret }}">
                          {{env.mobileSecret}}
                        </div>
                      </div> -->
                    </div>
                    <div class="operation">
                      <a style="color: #9A95CC;" nz-button nzType="link" (click)="onEditEnvClick(project, env)">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                        编辑
                      </a>
                      <ng-container *ngIf="isEnvDeleteBtnVisible(env)">
                        <a nz-popconfirm nzPopconfirmTitle="确定删除吗?"
                           nzPopconfirmPlacement="bottomRight"
                           [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
                           (nzOnConfirm)="onDeleteEnvClick(project, env)" [nzIcon]="iconTplEnv">
                          <i style="color: #9A95CC;" nz-icon nzType="delete" nzTheme="fill"></i>
                        </a>
                      </ng-container>
                      <ng-template #iconTplEnv>
                        <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
                      </ng-template>
                    </div>
                  </div>
                  <nz-divider *ngIf="!isLast" style="margin: 26px 0 40px;"></nz-divider>
                </div>
              </nz-card>
              <ng-template #extraTemplate>
                <nz-space style="display: flex;flex-direction: row;align-items: center">
                  <a *nzSpaceItem nz-button nzType="link" (click)="onCreateEnvClick(project)">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    添加环境
                  </a>
                  <a style="color: #9A95CC;" *nzSpaceItem nz-button nzType="link" (click)="onEditProjectClick(project)">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                    编辑
                  </a>
                  <ng-container *ngIf="currentProjectEnv?.projectId !== project.id">
                    <a *nzSpaceItem nz-popconfirm
                       nzPopconfirmTitle="确定删除吗?"
                       nzPopconfirmPlacement="bottomRight"
                       [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
                       (nzOnConfirm)="onDeleteProjectClick(project)" [nzIcon]="iconTplProject">
                      <i nz-icon style="color: #9A95CC;margin: 0 15px;" nzType="delete" nzTheme="fill"></i>
                    </a>
                  </ng-container>
                  <ng-template #iconTplProject>
                    <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
                  </ng-template>
                </nz-space>
              </ng-template>
            </section>
        </div>
    </div>
</div>

<app-project-drawer [visible]="creatEditProjectFormVisible" [currentAccountId]="currentAccountId" (close)="projectClosed($event)" [project]="project"></app-project-drawer>
<app-env-drawer [visible]="creatEditEnvFormVisible" [currentAccountId]="currentAccountId" (close)="envClosed($event)" [env]="env"></app-env-drawer>
