<nz-button-group [nzSize]="'large'" style="width: 100%">
  <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.06);width: 100%">
    <ng-container *ngFor="let btn of navConfig; let key=index;">
      <a nz-button style="font-size: 14px;padding: 0 0 2px 0;margin-right: 32px;height: auto;
        border-bottom: 1px solid {{routeUrl=== btn.id ? '#4CB287' : 'transparent'}};
        color: {{routeUrl=== btn.id ? '#4CB287' : '#000'}}" nzType='link' (click)="onCheck(btn.id)">{{btn.label}}</a>
    </ng-container>
  </div>
</nz-button-group>
