<section class="body">
    <ng-container *ngFor="let item of upperFeatures; let key=index;">
        <div class="switch-item">
            <div class="select">
              <nz-select
               nzPlaceHolder="Select feature flag"
               nzAllowClear
               nzShowSearch
               nzServerSearch
               [compareWith]="compareWithPrequisiteFeatureFlag"
               [(ngModel)]="item.selectedFeatureFlag"
               (ngModelChange)="onSelectChange(item, $event)"
               (nzOnSearch)="onSearch($event)">
                <ng-container *ngFor="let feature of featureList">
                    <nz-option *ngIf="!isLoading" nzCustomContent [nzDisabled]="selectedFeatureFlagIDs.includes(feature.id)" [nzValue]="feature" [nzLabel]="feature.name">{{feature.name}}</nz-option>
                </ng-container>
                <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                </nz-option>
              </nz-select>
            </div>
            <div class="select">
                <nz-select [(ngModel)]="item.valueOptionsVariationValue" [compareWith]="compareWithVariationOption" (ngModelChange)="onVariationValueChange()">
                    <nz-option *ngFor="let option of item.selectedFeatureFlag?.variationOptions" [nzValue]="option" [nzLabel]="option.variationValue"></nz-option>
                </nz-select>
            </div>
            <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteSwitch(key)"></i>
        </div>
    </ng-container>
    <button nz-button nzType="primary" (click)="onAddUpperSwitch()">添加上游开关</button>
</section>
