<section class="body">
  <div class="content">
      <div class="switch-wrap">
          <div class="search">
              <div nz-row>
                  <div class="search-wrap ant-col ant-col-12" nz-col nzSpan="12">
                    <input style="margin-right: 20px;" nz-input type="text" placeholder="按名字查找" [(ngModel)]="searchValue">
                    <button nz-button nzType="primary" (click)="onSearchClick()" (keydown.enter)="onSearchClick()">
                      <i nz-icon nzType="search" nzTheme="outline"></i>
                      查找
                    </button>
                  </div>
                  <div class="wrap-right ant-col ant-col-12" nz-col nzSpan="12">
                    <button nz-button nzType="primary" (click)="onPropsSettingClick()">
                      <i nz-icon nzType="setting" nzTheme="fill"></i>
                      属性管理
                    </button>
                  </div>
              </div>
          </div>
          <div class="list">
              <nz-table #basicTable
                [nzData]="list"
                nzSize="small"
                [nzScroll]="{ y: '520px' }"
                [nzFrontPagination]="false"
                [nzLoading]="isLoading"
                [nzTotal]="totalCount"
                [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex + 1"
                (nzQueryParams)="onQueryChange($event)">
                <thead>
                    <tr class="table-th-style">
                      <th>名称</th>
                      <th>Key Name</th>
                      <th>Email</th>
                      <th nzAlign="center">操作</th>
                    </tr>
                </thead>
                <tbody style="width: calc(100% - 200px);">
                  <tr *ngFor="let user of basicTable.data" class="table-tr-pointer">
                    <td (click)="onRowClick(user)">{{ user.name }}</td>
                    <td>{{ user.keyId }}</td>
                    <td>{{ user.email }}</td>
                    <td style="text-align: center"><a nz-button nzType="link" style="color: #9A95CC;" (click)="onRowClick(user)">详情</a></td>
                  </tr>
                </tbody>
              </nz-table>
          </div>
      </div>
  </div>
</section>
<app-props-drawer [visible]="visible" [envId]="currentEnvId" (close)="onClose()"></app-props-drawer>
