<nz-drawer nzClosable [nzVisible]="visible" nzPlacement="right" [nzWidth]="500" (nzOnClose)="onClose()">
    <ng-container *nzDrawerContent>
      <nz-spin [nzSpinning]="isUploading" nzTip="上传中...">
        <div class="upload-drawer-layout">
          <section>
            <div>请选择要上传的文件（仅支持 json 文件）<a class="template-link" href="/assets/upload_example.json" target="_blank">点击查看模板</a> :</div>
            <nz-upload
                    [nzAction]="uploadUrl"
                    [nzHeaders]="{ authorization: 'authorization-text' }"
                    [(nzFileList)]="fileList"
                    (nzChange)="handleChange($event)"
                  >
                    <button nz-button>
                      <i nz-icon nzType="upload"></i>
                      点击选择并上传文件
                    </button>
                  </nz-upload>
          </section>
        </div>
      </nz-spin>
    </ng-container>
</nz-drawer>

