<section class="body">
  <div class="content">
    <nz-spin [nzSpinning]="isDownloading" nzTip="下载中...">
      <div class="data-sync-title" nz-typography>数据同步只针对当前选择的项目和环境（右上角显示的项目和环境），包括以下数据：</div>
      <nz-list nzItemLayout="vertical" [nzSplit]="false" class="data-sync-list">
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <p>开关</p>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              当前环境下的所有开关，包括已经存档的开关
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <p>开关用户</p>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              包括当前环境下的所有开关用户
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <p>开关用户属性</p>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              包括所有自定义的用户属性
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
      <nz-space [nzSize]="20">
        <button (click)="onDownload()" *nzSpaceItem class="submit" nz-button nzType="primary">
          <i nz-icon nzType="download" nzTheme="outline"></i>
          下载
        </button>
        <button (click)="openUploadForm()" *nzSpaceItem class="submit" style="background-color: #9A95CC;color: #fff" nz-button nzType="default">
          <i nz-icon nzType="upload" nzTheme="outline"></i>
          上传
        </button>
        <a style="visibility: hidden;" #downloadRef [href]="downloadUri" [download]="downloadFileName"></a>
      </nz-space>
    </nz-spin>

    <!--  push data to remote endpoint  -->
    <ng-container>
      <nz-divider style="background-color: rgba(0, 0, 0, 0.3);"></nz-divider>
      <div class="data-sync-title" nz-typography>远程同步</div>
      <sync-urls-table></sync-urls-table>
    </ng-container>

    <ng-container *ngIf="userBehaviorDataDownloadFunc">
      <nz-divider style="background-color: rgba(0, 0, 0, 0.3);"></nz-divider>
      <nz-spin style="margin-top: 50px;" [nzSpinning]="userBehaviorDataDownloading" nzTip="下载中...">
        <div class="data-sync-title" nz-typography>下载用户行为数据</div>
        <nz-list nzItemLayout="vertical" [nzSplit]="false" class="data-sync-list">
          <nz-list-item>
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <p>时间范围</p>
              </nz-list-item-meta-title>
              <nz-list-item-meta-description>
                <nz-range-picker [(ngModel)]="dataDateRange"></nz-range-picker>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
        <nz-space [nzSize]="20">
          <button (click)="onDownloadUserBehaviorData()" *nzSpaceItem class="submit" nz-button nzType="primary">
            <i nz-icon nzType="download" nzTheme="outline"></i>
            下载
          </button>
        </nz-space>
      </nz-spin>
    </ng-container>

  </div>
</section>

<app-upload-drawer [visible]="uploadFormVisible" (close)="onUploadClosed()"></app-upload-drawer>
