<section class="body">
  <div class="content">
      <div class="switch-wrap">
          <div class="search">
              <div nz-row class="ant-row">
                  <div class="search-wrap ant-col ant-col-8" nz-col nzSpan="8">
                    <input class="ant-input" nz-input placeholder="按名字查找" [(ngModel)]="searchText" (ngModelChange)="onSearch()"/>
                  </div>
              </div>
          </div>
          <div class="switch-list">
            <nz-table #basicTable nzSize="small" [nzData]="switchLists" >
              <thead>
              <tr class="table-th-style">
                <th>名称</th>
                <th>状态</th>
                <th>最近修改</th>
                <th style="text-align: center">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let theSwitch of basicTable.data" class="table-tr-pointer">
                <td>{{theSwitch.name}}</td>
                <td>
                  <nz-switch [ngModel]="theSwitch.status !== 'Disabled'" nzDisabled [nzControl]="true" [nzLoading]="switchLoading" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
                </td>
                <td>{{getLocalDate(theSwitch.lastUpdatedTime) | date: 'YYYY-MM-dd HH:mm:ss'}}</td>
                <td style="text-align: center">
                  <a nz-button nzType="link" style="color: #9A95CC;" (click)="onUnArchive(theSwitch)">复位</a>
                </td>
              </tr>
              </tbody>
            </nz-table>
            <div class="mask" *ngIf="isLoading">
                <nz-spin></nz-spin>
            </div>
          </div>
      </div>
  </div>
</section>
