<section class="body">
    <app-layout>
        <app-nav-btns name="header" [routeUrl]="'sdk-integration'" [id]="id"></app-nav-btns>
        <div class="sdk-integration-body" name="detail" *ngIf="keyName">
          <div class="card-container">
            <nz-tabset nzType="card">
              <nz-tab nzTitle="JavaScript">
                <sdk-js-integration [envSecret]="envSecret" [keyName]="keyName"></sdk-js-integration>
              </nz-tab>
              <nz-tab nzTitle="Java">
                <sdk-java-integration [envSecret]="envSecret" [keyName]="keyName"></sdk-java-integration>
              </nz-tab>
              <nz-tab nzTitle="Go">
                <sdk-java-integration [envSecret]="envSecret" [keyName]="keyName"></sdk-java-integration>
              </nz-tab>
              <nz-tab nzTitle="Python">
                <sdk-java-integration [envSecret]="envSecret" [keyName]="keyName"></sdk-java-integration>
              </nz-tab>
              <nz-tab nzTitle=".Net">
                <sdk-java-integration [envSecret]="envSecret" [keyName]="keyName"></sdk-java-integration>
              </nz-tab>
              <nz-tab nzTitle="微信小程序">
                <sdk-java-integration [envSecret]="envSecret" [keyName]="keyName"></sdk-java-integration>
              </nz-tab>
            </nz-tabset>
          </div>
        </div>
    </app-layout>
</section>
