<form nz-form [formGroup]="profileForm" class="" [nzLayout]="'vertical'" (ngSubmit)="updateProfile()">
  <nz-form-item>
    <nz-form-label>邮箱</nz-form-label>
    <nz-form-control nzErrorTip="请输入邮箱！">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="email" placeholder="邮箱"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>手机号</nz-form-label>
    <nz-form-control nzErrorTip="请输入手机号！">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="phoneNumber" placeholder="手机号"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button class="" [nzType]="'primary'" [nzLoading]="isLoading">提交更新</button>
</form>
